<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- Custom CSS for checkbox button group -->
<style>
    .newCheckbox-group {
      display: flex;
    }
    
    .newCheckbox-group input[type="checkbox"] {
      display: none;
    }
    
    .newCheckbox-group label {
      border: 1px solid #666666;
      padding: 5px 5px;
      margin: 0 -2px;  /* Adjusted margin to overlap borders */
      cursor: pointer;
      border-radius: 0; /* Remove border-radius for middle elements */
      transition: background-color 0.3s, color 0.3s;
      background-color: #FFFFFF;
    }
    
    .newCheckbox-group label:first-of-type {
      border-radius: 7px 0 0 7px; /* Rounded corners for the first element */
    }
    
    .newCheckbox-group label:last-of-type {
      border-radius: 0 7px 7px 0; /* Rounded corners for the last element */
    }
    
    .newCheckbox-group input[type="checkbox"]:checked + label {
      background-color: #FFCC00;
      color: white;
    }
    
    .newCheckbox-group label:hover {
      background-color: #e0e0e0;
    }
</style>


<!-- end custom head snippets -->
